<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>URL Stortster</title>
</head>
<body>
    <div class="container">
    <h1>URL Shortster</h1>
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
    <label for="fullUrl" class="sr-only"></label>
    <input required placeholder="Past Url here ..." type="url" 
    name="fullUrl" id="fullUrl" class="form-control col mr-2">
    <button class="btn btn-success"type="submit">Shorten</button>
    </form>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
                <th>Last Access</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach(shortUrl => { %> 
             <tr>
            <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
        <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
        <td><%= shortUrl.clicks %></td>
        <td>10 minutes ago</td>
        <td>20/01/20</td>
            </tr>    
                <%})%>
           
    </tbody>
    </table>
    </div>
</body>
</html>